<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="footer">
	<!--
	<div class="pull-right">
        Grupo Palomino<a href="#" target="_blank"></a>
    </div>
    <div class="clearfix"></div>
    -->
	
    <footer>
        <div class="container">
            <div class="pull-right">
             Navitas<a href="#" target="_blank"></a>
            </div>
        </div>
    </footer>
    
<!--
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
-->
</th:block>
</body>
</html>