<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Navitas</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="page-title">
					<h2>ENVIO DE DOCUMENTOS ELECTRONICOS A LA SUNAT</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">

					<div class="x_content">
						<!-- AQUI COMIENZA EL FORMULARIO -->
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_content">
										<div class="row">
											<h2>
												<span class="label label-danger">Busqueda General</span>
											</h2>

											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12">
													<label>Nombre (Consignado)</label> <input id="consignado"
														type="text" class="form-control" name="consignado"
														maxlength="50" style="text-transform: uppercase;" />
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Desde</label>
													<div class="input-group input-append date"
														id="dateRangePickerDesde">
														<input id="fechaDesde" type="text" class="form-control"
															name="fechaDesde" /> <span
															class="input-group-addon add-on"><span
															class="glyphicon glyphicon-calendar"></span></span>
													</div>
												</div>
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Hasta</label>
													<div class="input-group input-append date"
														id="dateRangePickerHasta">
														<input id="fechaHasta" type="text" class="form-control"
															name="fechaHasta" /> <span
															class="input-group-addon add-on"><span
															class="glyphicon glyphicon-calendar"></span></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Origen</label> <select class="form-control"
														id="origen" name="origen">

														<option value="001">NAVITAS SOLUTIONS</option>

													</select>
												</div>
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Destino</label> <select class="form-control"
														id="destino" name="destino">
														<option value="001">NAVITAS SOLUTIONS</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="x_panel">
									<div class="x_content">
										<div class="row">
											<h2>
												<span class="label label-danger">Busqueda por
													Documento</span>
											</h2>
											<div class="row">
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Empresa</label> <select class="form-control"
														id="empresa" name="empresa">
													<option value="001">NAVITAS SOLUTIONS</option>
													</select>
												</div>
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Tipo Documento</label> <select class="form-control"
														id="tipodocumento" name="tipodocumento">
														<option value="01">FACTURA / ENCOMIENDA CARGA</option>
														<option value="02">BOLETA VENTA / ENCOMIENDA
															CARGA</option>
													</select>
												</div>
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Serie</label> <input id="serie" type="text"
														class="form-control" name="serie" placeholder="000"
														maxlength="3"
														onblur="javascript:AumentarCerosSerie(this);"
														style="text-transform: uppercase;" />
												</div>
												<div class="col-md-3 col-sm-4 col-xs-12">
													<label>Numero</label> <input id="numero" type="text"
														class="form-control" placeholder="0000000" maxlength="7"
														name="numero"
														onblur="javascript:AumentarCerosNumero(this);" />
												</div>
											</div>
										</div>
										<div class="row" id="divMensaje"
											style="display: none; padding-bottom: 20px;">
											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="alert alert-info" role="alert" id="mensaje">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-sm-4 col-xs-12"
										style="padding-top: 23px">
										<input id="btnConsultaDocumentos" type="button"
											class="btn btn-success" value="CONSULTAR DOCUMENTOS">

									</div>

								</div>
								<div class="row">
									<div class="col-md-9 col-sm-12 col-xs-12">
										<table class="table table-condensed table-sm"
											data-toggle="table" data-locale="es-ES"
											data-pagination="true" data-height="350" data-unique-id="id"
											data-side-pagination="server"
											data-response-handler="responseHandler"
											data-query-params="queryParams" id="tblDocumentosClientes">
											<thead>
												<tr>
													<th data-field="id" data-visible="false">Nro</th>
													<th data-field="empresa">Empresa</th>
													<th data-field="documento">Documento</th>
													<th data-field="numero">Numero</th>
													<th data-field="fecha">Fecha</th>
													<th data-field="ruta">Ruta</th>
													<th data-field="remitente">Remitente</th>
													<th data-field="consignado">Consignado</th>
													<th data-field="estado">Estado</th>
													<th data-field="observaciones"
														data-formatter="FormatterDetalles"
														data-events="operateEvents">Detalles</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade bs-example-modal-lg" id="modalDocumento"
							tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="modalLabelPaso2">Detalles
												del Documento</h4>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="row">
													<div class="col-md-3 col-sm-4 col-xs-12">
														<label>Fecha Emision</label> <input id="fechaEmision"
															type="text" class="form-control" name="fechaEmision" />

													</div>
													<div class="col-md-6 col-sm-4 col-xs-12">
														<label>Empresa</label> <input id="empresa" type="text"
															class="form-control" name="empresa" />
													</div>
													<div class="col-md-3 col-sm-4 col-xs-12">
														<label>T. Documento</label> <input id="tipoDocumento"
															type="text" class="form-control" name="tipoDocumento" />
													</div>
												</div>
												<div class="row">
													<div class="col-md-1 col-sm-4 col-xs-12">
														<label>Serie</label> <input id="serie" type="text"
															class="form-control" name="serie" />
													</div>
													<div class="col-md-2 col-sm-4 col-xs-12">
														<label>Numero</label> <input id="numero" type="text"
															class="form-control" name="numero" />
													</div>
													<div class="col-md-4 col-sm-4 col-xs-12">
														<label>Agencia Origen</label> <input id="agenciaOrigen"
															type="text" class="form-control" name="agenciaOrigen" />
													</div>
													<div class="col-md-5 col-sm-4 col-xs-12">
														<label>Usuario</label> <input id="usuario" type="text"
															class="form-control" name="usuario" />
													</div>
												</div>
												<div class="row">
													<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

														<label>Ruta</label> <input id="ruta" type="text"
															class="form-control" name="ruta" />

														<div class="row">
															<div class="col-md-4 col-xs-12">
																<label>Ruc</label> <input id="ruc" type="text"
																	class="form-control" name="ruc" />
															</div>
															<div class="col-md-8 col-xs-12">
																<label>Razon</label> <input id="razon" type="text"
																	class="form-control" name="razon" />
															</div>
														</div>
													</div>
													<div class="col-lg-5 col-md-5 col-sm-3 col-xs-2">
														<div class="row">
															<div class="col-lg-12 col-md-13  col-xs-12">
																<label for="comment">Contenido:</label>
																<textarea class="form-control" rows="4" id="comment"></textarea>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-1 col-sm-4 col-xs-12">
														<label>D.N.I</label> <input id="dni" type="text"
															class="form-control" name="dni" />
													</div>
													<div class="col-md-5 col-sm-4 col-xs-12">
														<label>Remitente</label> <input id="remitente" type="text"
															class="form-control" name="remitente" />
													</div>
													<div class="col-md-6 col-sm-4 col-xs-12">
														<label>Remitente Direccion</label> <input
															id="remitenteDireccion" type="text" class="form-control"
															name="remitenteDireccion" />
													</div>
												</div>

											</div>
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<table class="table table-condensed table-sm"
														data-toggle="table" data-locale="es-ES"
														data-pagination="true" data-height="350"
														data-unique-id="id" data-side-pagination="server"
														data-response-handler="responseHandler"
														data-query-params="queryParams"
														id="tblDocumentosClientes1">
														<thead>
															<tr>
																<th data-field="id" data-visible="false">Nro</th>
																<th data-field="empresa">Empresa</th>
																<th data-field="documento">Documento</th>
																<th data-field="numero">Numero</th>
																<th data-field="fecha">Fecha</th>
																<th data-field="ruta">Ruta</th>
																<th data-field="remitente">Remitente</th>
																<th data-field="consignado">Consignado</th>
																<th data-field="estado">Estado</th>
																<th data-field="observaciones"
																	data-formatter="FormatterDetalles"
																	data-events="operateEvents">Detalles</th>
															</tr>
														</thead>
													</table>
												</div>
											</div>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/documentosclientes.js}"></script>
	</div>

</body>
</html>