<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-title">
                <h2>MANTENIMIENTO DE USUARIOS</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label>Nivel</label> <select class="form-control" id="documentos"
                                                         name="documentos">
                            <option value="0">DOCUMENTOS PENDIENTES</option>
                            <option value="1">DOCUMENTOS ACEPTADOS</option>
                            <option value="2">DOCUMENTOS RECHAZADOS</option>
                        </select>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label>Fecha</label>
                            <div class="input-group input-append date"
                                 id="dateRangePickerDocumentos">
                                <input id="fechaDocumentos" type="text" class="form-control"
                                       name="fechaDocumentos"> <span
                                    class="input-group-addon add-on"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <label>Empresa</label> <select class="form-control" id="empresa"
                                                           name="empresa">
                            <option value="001">NAVITAS SOLUTIONS</option>
                        </select>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12"
                             style="padding-top: 23px">
                            <input id="btnConsultaDocumentos" type="button"
                                   class="btn btn-primary" value="CONSULTAR DOCUMENTOS">
                        </div>
                    </div>

                    <div class="row">

                        <div class="row" id="divMensaje"
                             style="display: none; padding-bottom: 20px;">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="alert alert-info" role="alert" id="mensaje">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <table
                                        id="tblDocumentos"
                                        data-click-to-select="true"
                                        class="table table-condensed table-sm"
                                        data-toggle="table"
                                        data-locale="es-ES"
                                        data-pagination="true"
                                        data-height="380"
                                        data-unique-id="id"
                                        data-side-pagination="server"
                                        data-response-handler="responseHandler"
                                        data-query-params="queryParams">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id" data-visible="false">Nro</th>
                                        <th data-field="fechaEmision">Fecha Emision</th>
                                        <th data-field="empresa">Empresa</th>
                                        <th data-field="documentoElectronico">Documento</th>
                                        <th data-field="agencia">Agencia</th>
                                        <th data-field="servicio" data-visible="false">Servicio</th>
                                        <th data-field="enviar" data-visible="false">Enviar</th>
                                        <th data-field="servicioD">Servicio</th>
                                        <th data-field="estado" data-formatter="FormatterEstado" align="center">Estado
                                        </th>
                                        <th data-field="observaciones">Observaciones</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="row" style="padding-top: 20px;text-align: center;">
                                <div id="divEnvio">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <input id="seleccionado" type="radio" name="enviartodos" checked="checked"
                                               value="false"/>
                                        <label for="seleccionado">Enviar seleccionados</label>
                                        <input id="todos" type="radio" name="enviartodos" value="true"/>
                                        <label for="todos">Enviar todos</label>
                                        <input type="hidden" id="hidTodos" value="false">
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                        <input type="button" id="btnCargar" class="btn btn-success"
                                               value="GENERAR Y ENVIAR A SUNAT">
                                    </div>
                                </div>
                                <div id="divVerifica" style="display: none;">
                                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                        <input type="button" id="btnVerificar" class="btn btn-success"
                                               value="VERIFICAR RECHAZADOS" disabled="disabled">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-9 col-sm-12 col-xs-12">
                                <table class="table table-condensed table-sm"
                                    data-toggle="table" data-locale="es-ES" data-pagination="true"
                                    data-height="350" data-unique-id="id"
                                    data-url="/envialoconsultas/usuarios/listar"
                                    data-side-pagination="server"
                                    data-response-handler="responseHandler" id="tblUsuarios">
                                    <thead>
                                        <tr>
                                            <th data-field="id" data-visible="false">Id</th>
                                            <th data-field="nombres">Nombres</th>
                                            <th data-field="apellidos">Apellidos</th>
                                            <th data-field="ruc">Ruc</th>
                                            <th data-field="razon">Razon</th>
                                            <th data-field="usuario">Usuario</th>
                                            <th data-field="estado" data-formatter="estadoUsuario">Estado</th>
                                            <th data-field="observaciones"
                                                data-formatter="FormatterUsuario"
                                                data-events="operateEvents">Operaciones</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/facturacion/enviodocumentos.js}"></script>
</div>
</body>
</html>