<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.alo.digital.transportes.webapp.efact.mapper.Varios_FacturacionMapper">

		<select id="SQL_SELECT_LISTA_PARAMETROS_FACTURADOR"  resultType="V_Varios_FacturacionBean" parameterType="map"  statementType="CALLABLE">	 
		
				EXECUTE	USP_SELECT_PARAMETROS_FACTURADOR_V_Varios_Facturacion_SQL #{empresa}

	<!--   EXECUTE USP_SELECT_PARAMETROS_FACTURADOR_V_Varios_Facturacion1_SQL #{empresa}-->
</select>

<select id="SQL_SELECT_LISTA_PARAMETROS_DESCARGA_FACTURADOR"  resultType="V_Varios_FacturacionBean" parameterType="map"  statementType="CALLABLE">

    EXECUTE USP_SELECT_PARAMETROS_DESCARGA_V_Varios_Facturacion_SQL #{empresa}
</select>

<!--
<select id="SQL_VARIOS_DESCARGA_FACTURACION_WEB"   resultType="variosfacturacionBeanIbatis" parameterType="map"  statementType="CALLABLE">
        USP_SELECT_PARAMETROS_DESCARGA_V_Varios_Facturacion_SQL #{empresa}
</select> -->
</mapper>